*{
    margin:0;
    
}
.navBar{
    height:30px;
    width:100vw;
    background-color: black;
    color:white;
    border-radius:10px;

}
.navBar>ul{
    display:flex;
    
}
.navBar>ul>li{
  list-style:none;
  padding:0 20px 5px 5px;
  margin:0 5px;
  margin-top:1px;
  background-color: rgb(47 46 45);  
  border-radius: 20px;
  cursor:pointer;
}